.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}

.banner {
  background: rgba(255, 255, 255, 0.65);
  transform: rotate(-57.293deg);
}
.banner-two {
  border-left: 1px dashed black;
  border-right: 1px dashed black;
}

/* Gradient Background */
.gradient-bg {
  background: linear-gradient(180deg, #7000ff 0%, black 87.5%);
}

/* about section */
.about {
  /* background-image: url("./assets/about.svg"); */
  background-position: cover;
  background-repeat: no-repeat;
  height: 700vh;
  background-color: black;
}

/* special section */
.special-section {
  background-image: url("./assets/circles.svg");
  background-position: 0% 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 500px) {
  .banner {
    background: rgba(255, 255, 255, 0.65);
    transform: rotate(-45.288deg);
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background: rgba(255, 255, 255, 0.65);
    transform: rotate(-45.288deg);
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background: rgba(255, 255, 255, 0.65);
    transform: rotate(-32.61deg);
  }
}

@media screen and (min-width: 1280px) {
}
