.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}

.banner {
  background: rgba(255, 255, 255, 0.65);
  transform: rotate(-57.293deg);
}
.preloader-banner {
  background: rgba(255, 255, 255, 0.65);
  transform: rotate(357deg);
}
.banner-two {
  border-left: 1px dashed black;
  border-right: 1px dashed black;
}

/* Gradient Background */
.gradient-bg {
  background: linear-gradient(180deg, #7000ff 0%, #1f1f1f 87.5%);
}
/* navbar */
.active {
  color: #372772;
}

button {
  outline: none;
}
/* about section */
.about {
  /* background-image: url("./assets/about.svg"); */
  background: rgb(83, 44, 114);
  background-image: radial-gradient(
    circle 100rem at 10% 40%,
    rgba(83, 44, 114, 1) 0%,
    rgba(83, 44, 114, 1) 5%,
    rgba(0, 0, 0, 1) 46%
  );
  /* background-position: cover;
  background-repeat: no-repeat;
  height: 700vh; */

  background-color: black;
}

/* @media screen and (max-width: 360px) {
  .btn-down {
    width: 3rem;
    height: 3rem;
  }
} */

/* flip card */
.card {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.front {
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardFlip {
  transform: rotateY(180deg);
}

.flip-left {
  transform: scaleX(-1);
}

.flip-down {
  transform: scaleY(-1);
}

/* choose section */

.bg-choose {
  background: linear-gradient(180deg, #b3faff 0%, #795ffa 204.74%);
}

.bg-choose-purple {
  background: rgb(176, 166, 222);
  background-image: radial-gradient(
    circle 10rem at 80% 40%,
    rgba(176, 166, 222, 1) 0%,
    rgba(179, 250, 255, 1) 100%
  );
}

.bg-choose-pink {
  background: transparent;
  background-image: radial-gradient(
    circle 80rem at -30% 85%,
    rgba(179, 250, 255, 1) 15%,
    rgba(176, 166, 222, 0.582) 19%,
    rgba(179, 250, 255, 0) 25%
  );
}

/* special section */
.special-section {
  background-image: url("./assets/circle-2.svg");
  background-position: 0% 65%;
  background-repeat: no-repeat;
}

/* more */
.more {
  background-image: url("./assets/more-on-us-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 500px) {
  .banner {
    background: rgba(255, 255, 255, 0.65);
    transform: rotate(-45.288deg);
  }

  /* special section */
  .special-section {
    background-image: url("./assets/circles.svg");
    background-position: 0% 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 600px) {
  .about {
    background: rgb(83, 44, 114);
    background-image: radial-gradient(
      circle 50rem at 10% 40%,
      rgba(83, 44, 114, 1) 0%,
      rgba(83, 44, 114, 1) 5%,
      rgba(0, 0, 0, 1) 46%
    );
    background-color: black;
  }
  /* navbar */
  .active {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background: rgba(255, 255, 255, 0.65);
    transform: rotate(-45.288deg);
  }
  .bg-choose-purple {
    background: rgb(176, 166, 222);
    background-image: radial-gradient(
      circle 25rem at 80% 70%,
      rgba(176, 166, 222, 1) 0%,
      rgba(179, 250, 255, 1) 100%
    );
  }

  .bg-choose-pink {
    background: transparent;
    background-image: radial-gradient(
      circle 80rem at 10% 85%,
      rgba(179, 250, 255, 1) 15%,
      rgba(176, 166, 222, 0.582) 19%,
      rgba(179, 250, 255, 0) 25%
    );
  }

  /* special section */
  .special-section {
    background-image: url("./assets/circles.svg");
    background-position: 0% 100%;
    background-repeat: no-repeat;
  }

  .more {
    background-image: url("./assets/more-on-us-tab.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background: rgba(255, 255, 255, 0.65);
    transform: rotate(-32.61deg);
  }

  /* details section */
  .first_order {
    position: relative;
    top: -15rem;
  }

  .second_order {
    position: relative;
    top: -30rem;
  }

  .third_order {
    position: relative;
    top: -20rem;
  }

  .more {
    background-image: url("./assets/more-on-us-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1280px) {
}
