.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
/* @keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.banner {
  background: rgba(255, 255, 255, 0.65);
}
.banner-two {
  border-left: 1px dashed black;
  border-right: 1px dashed black;
}
